body {
	background-color: #1d2227;
	font-family: "Montserrat", sans-serif;
}
.app {
	border: 1px solid blue;
	/* height: 99vh; */
	/* width: 99%; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundColor);
}

/* @media screen and (max-width: 332px) {
	.app {
		min-height: 734px;
	}
} */
