.connections__row {
	/* border: 2px solid yellow; */
	display: flex;
	padding: 20px;
	padding: 1em;
	align-items: center;
	justify-content: baseline;
	/* gap: 100px; */
}

.left__side {
	flex: 3;
	justify-content: flex-start;

	/* border: 1px solid salmon; */
}

.right__side {
	flex: 1;
	justify-content: flex-end;
	/* border: 1px solid seagreen; */
}

.receiver__id {
	color: white;
	/* border: 1px solid yellow; */
	font-size: 1.2em;
	text-transform: capitalize;
}

.connections__row button {
	margin-left: auto;
	background-color: #0da5cc;

	border-radius: 0.1em;
	border: none;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bolder;
	border: none;

	font-size: 1em;
	letter-spacing: 0.1em;
	padding: 10px 30px;
	padding: 0.6em 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	flex: 0.5;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.connections__row button[disabled] {
	background-color: lightblue;
	color: #262626;
}
