/* .connections__row {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: baseline;
}

.receiver__id {
	justify-content: flex-start;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.2em;
	flex: 2;
	display: flex;
}

.connections__row button {
	display: flex;

	justify-content: flex-end;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #0da5cc;

	border-radius: 3px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bolder;
	border: none;

	font-size: 17px;
	letter-spacing: 3px;
	padding: 10px 30px;
	text-transform: uppercase;
	cursor: pointer;
	flex: 0.5;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
} */

.connections__row {
	/* border: 2px solid yellow; */
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: baseline;
	/* gap: 100px; */
}

.left__side {
	flex: 3;
	justify-content: flex-start;

	/* border: 1px solid salmon; */
}

.right__side {
	flex: 1;
	justify-content: flex-end;
	/* border: 1px solid seagreen; */
}

.receiver__id {
	color: white;
	/* border: 1px solid yellow; */
	font-size: 1.2em;
	text-transform: capitalize;
}

.connections__row button {
	margin-left: auto;
	background-color: #0da5cc;

	border-radius: 3px;
	border: none;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bolder;
	border: none;

	font-size: 17px;
	letter-spacing: 3px;
	padding: 10px 30px;
	text-transform: uppercase;
	cursor: pointer;
	flex: 0.5;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.connections__row button[disabled] {
	background-color: lightblue;
	color: #262626;
}
