.demo__screen {
	/* border: 1px solid green; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90%;
	width: 100%;
	background-color: #020202;
}

.demo {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
	width: 90%;
	gap: 4em;
}

.video__option__one,
.video__option__two {
	/* border: 1px solid yellowgreen; */
	display: flex;
	height: 50%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.video__option__two {
	flex-direction: row-reverse;
}

.video__display__one,
.video__display__two {
	/* border: 1px solid pink; */
	/* height: 85%;
	width: 100%; */
	/* border: 1px solid pink; */
	align-items: center;
	width: 50%;
	display: flex;
}

.video__display__one {
	display: flex;
	justify-content: flex-end;
}

.video__display__two {
	justify-content: flex-start;
	display: flex;
}
/* .video__player {
	width: 350px;
	height: 250px !important;
	width: 50% !important;
} */

.video__description__one,
.video__description__two {
	/* border: 1px solid white; */
	/* flex: 1; */
	display: flex;
	height: 100%;
	width: 50%;
	font-size: 1.1em;
	line-height: 1.2;
	align-items: center;
	font-family: "ABeeZee", sans-serif;
	/* justify-content: flex-end; */
	color: white;
	letter-spacing: 0.09em;
	/* height: 20%;
*/
}
video {
	width: 80%;
	height: auto;
}

.video__description {
	/* border: 1px solid azure; */
	width: 60%;
	font-size: 1em;
	letter-spacing: 0.1em;
	line-height: 1.8;
}

.video__description__one {
	/* border: 1px solid yellowgreen; */
	display: flex;
	justify-content: flex-end;
	/* padding-right: 1.5em; */
	/* gap: 2em; */
}

.video__description__two {
	/* border: 1px solid yellowgreen; */
	display: flex;
	justify-content: flex-start;
	/* padding-left: 1.5em; */
}

.about {
	/* border: 1px solid yellowgreen; */
	height: 25%;
	width: 40%;
	display: flex;

	/* font-family: ; */
	align-items: center;
}

.displayVideo1 {
	border-radius: 0.3em;
	border: 1px solid lightblue;
	border: 1px solid #202020;
}
.arrow__icon__two > .MuiSvgIcon-root {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	/* background-color: lightblue; */
	color: white;
	color: #0da5cc;
	width: 4em;
	height: 2em;
}
/* .arrow__icon__two > .MuiSvgIcon-root:hover {
	color: white;
} */
.arrow__icon__one > .MuiSvgIcon-root {
	/* background-color: lightblue; */
	color: white;
	color: #0da5cc;
	width: 4em;
	height: 2em;
}

/* .arrow__icon__one {
	border: 1px solid red;
}

.arrow__icon__two {
	border: 1px solid red;
} */
/* .arrow__icon__one > .MuiSvgIcon-root:hover {
	color: white;
} */
@media screen and (max-width: 900px) {
	.demo {
		gap: 3em;
	}
	.video__description__one,
	.video__description__two {
		display: flex;
		width: 100%;
		height: 20%;
		font-size: 0.9em;
		line-height: 1.5;
		justify-content: center;
		padding: 0;
		gap: 4em;
	}

	.video__option__one,
	.video__option__two {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: flex;
		gap: 1em;
	}
	.displayVideo1 {
		width: 300px;
		height: 250px;
	}

	.video__description {
		width: 100%;
		text-align: center;
	}

	.video__display__one,
	.video__display__two {
		justify-content: center;
	}

	.arrow__icon__two,
	.arrow__icon__one {
		display: none;
	}
}
