.header {
	/* border: 1px solid red; */
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	/* flex: 1; */
	/* 
	color: #e7e7ec; */
}

.header__left {
	/* border: 3px solid lightgreen; */
	display: flex;
	height: 100%;
	align-items: center;
	color: #e7e7ec;
	flex: 0.3;
	font-family: var(--headerFont);
	font-weight: bold;
	font-size: 1em;
	/* padding-left: 1.5em;
	gap: 1.5em;
	letter-spacing: 0.1em; */
	padding-left: 2%;
	gap: 4%;
	letter-spacing: 1%;
}

.header__left__option {
	/* border: 1px solid red; */
	height: 100%;
	color: #e7e7ec;
	justify-content: flex-start;
	text-decoration: none;
	transition: all 0.2s;
}

.header__left__option:hover {
	background: linear-gradient(#99c299, #a6c9a6);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header__link__left {
	text-decoration: none;
	color: white;
}

.header__link__left__clicked {
	/* border: 1px solid orange; */
	padding-bottom: 0.2em;
	border-bottom-style: solid;
	border-color: white;
	text-decoration: none;
}

.header__right {
	/* border: 1px solid yellow; */
	display: flex;
	align-items: center;
	height: 100%;
	color: #e7e7ec;
	flex: 0.3;
	font-weight: bold;
	justify-content: flex-end;
	font-size: 1em;
	/* gap: 1.5em;
	padding-right: 1.5em; */
	font-family: var(--headerFont);
	/* letter-spacing: 0.1em; */
	font-weight: bolder;
	padding-right: 2%;
	gap: 4%;
	letter-spacing: 1%;
}

.header__link {
	/* border: 3px solid indianred; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #e7e7ec;
	flex: 0.4;
	font-size: 4em;
	font-family: "Cookie", cursive;
}
.subscribe__button {
	/* border: 1px solid white; */
	background-color: black;
	color: white;

	font-size: 1em;
	border-radius: 0.1em;
	font-family: "Open Sans Condensed", sans-serif;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-transform: uppercase;
}

.subscribe__button__active {
	/* border: 1px solid white; */
	color: white;
	/* padding: 10px 20px; */
	padding: 0.75em 1.5em;
	font-size: 0.8em;
	border-radius: 0.1em;
	background: linear-gradient(#99c299, #a6c9a6);
	border: none;
	font-family: "Open Sans Condensed", sans-serif;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-transform: uppercase;
	font-weight: bolder;
}

.subscribe__button__inactive {
	/* border: 1px solid white; */
	color: black;
	/* padding: 10px 20px; */
	padding: 0.75em 1.5em;
	font-size: 0.8em;
	border-radius: 0.1em;
	letter-spacing: 0.1em;
	font-family: "Open Sans Condensed", sans-serif;
	background: linear-gradient(#cc9999, #d3a6a6);
	border: none;
	text-transform: uppercase;
	font-weight: bolder;
}

.subscribe__button__active[disabled] {
	color: black;
}

.subscribe__button__inactive[disabled] {
	color: white;
}

/* .header__right > div {
	border: 1px solid #99c299;
} */
.header__right__icon {
	display: none;
}

.header__right__icon > .css-i4bv87-MuiSvgIcon-root {
	height: 30px;
	width: 30px;
}

.header__right__icon > .css-i4bv87-MuiSvgIcon-root {
	height: 30px;
	width: 30px;
}
@media screen and (max-width: 650px) {
	.header__left {
		font-size: 0.8em;
	}

	.header__link {
		font-size: 3em;
	}

	.header__right {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 500px) {
	.header__link {
		font-size: 2.5em;
	}
	.header__left {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 919px) {
	.header__left {
		display: none;
	}
	.header__link {
		flex: 0.3;
		font-size: 2em;
	}
	.header__right {
		flex: 0.9;
	}
	.avatar__div > .MuiAvatar-root {
		height: 30px;
		width: 30px;
	}

	.header__right__icon {
		display: flex;
	}

	.subscribe__button__active,
	.subscribe__button__inactive {
		padding: 0.65em 1.25em;
	}
}
