@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap");

.home__screen {
	border: 4px solid sienna;
	height: 90%;
	width: 100%;
	display: flex;
	background-color: var(--backgroundColor);
	justify-content: center;
	align-items: center;
}

.home {
	border: 2px solid #99c299;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
}
