.header {
	padding-top: 0.5em;
	display: flex;
	align-items: center;
	color: #e7e7ec;
}

.header__link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e7e7ec;
	flex: 0.4;
	font-size: 4em;
	font-family: "Cookie", cursive;
}
.header__left {
	display: flex;
	align-items: center;
	color: #e7e7ec;
	flex: 0.3;
	padding-left: 25px;
	font-weight: bold;
}

.header__right {
	display: flex;
	align-items: center;
	color: #e7e7ec;
	flex: 0.3;
	font-weight: bold;
	justify-content: flex-end;
	gap: 25px;
	padding-right: 25px;
}

.header__left__option {
	color: #e7e7ec;
	justify-content: flex-start;
}

.header__left__option:hover {
	background: linear-gradient(to right, lightblue, tomato);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header__link__left {
	text-decoration: none;
}

.header__link__left__clicked {
	padding-bottom: 3px;
	border-bottom-style: solid;
	border-color: white;
}

.subscribe__button {
	border: 1px solid white;
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 1em;
	border-radius: 6px;
}

.subscribe__button__active {
	border: 1px solid white;
	/* background-color: black; */
	color: white;
	padding: 10px 20px;
	font-size: 0.8em;
	border-radius: 3px;
	background-color: seagreen;
	border: none;
}

.subscribe__button__inactive {
	border: 1px solid white;
	/* background-color: black; */
	color: black;
	padding: 10px 20px;
	font-size: 0.8em;
	border-radius: 3px;
	background-color: tomato;
	border: none;
}

.subscribe__button__active[disabled] {
	background-color: limegreen;
	color: black;
}

.subscribe__button__inactive[disabled] {
	background-color: #a9a9a9;
	color: white;
}
