@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap");
.header {
	padding-top: 0.5em;
	display: flex;
	align-items: center;
	color: #e7e7ec;
}

.header__link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e7e7ec;
	flex: 0.4;
	font-size: 4em;
	font-family: "Cookie", cursive;
}
.header__left {
	display: flex;
	align-items: center;
	color: #e7e7ec;
	flex: 0.3;
	padding-left: 25px;
	font-family: "ABeeZee", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 1.1em;
	/* font-family: "Source Sans Pro", sans-serif; */
	letter-spacing: 0.8px;
}

.header__right {
	display: flex;
	align-items: center;
	color: #e7e7ec;
	flex: 0.3;
	font-weight: bold;
	justify-content: flex-end;
	gap: 25px;
	padding-right: 25px;
	font-family: "ABeeZee", sans-serif;
	letter-spacing: 1px;
	font-weight: bolder;
	/* text-transform: capitalize; */
}

.header__left__option {
	color: #e7e7ec;
	justify-content: flex-start;
	text-decoration: none;
}

.header__left__option:hover {
	background: linear-gradient(#99c299, #a6c9a6);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header__link__left {
	text-decoration: none;
}

.header__link__left__clicked {
	padding-bottom: 3px;
	border-bottom-style: solid;
	border-color: white;
	text-decoration: none;
}

.subscribe__button {
	border: 1px solid white;
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 1em;
	border-radius: 6px;
	font-family: "Open Sans Condensed", sans-serif;
	letter-spacing: 1px;
	font-weight: bolder;
	text-transform: uppercase;
}

.subscribe__button__active {
	border: 1px solid white;
	/* background-color: black; */
	color: white;
	padding: 10px 20px;
	font-size: 0.8em;
	border-radius: 3px;
	/* background-color: seagreen; */
	background: linear-gradient(#99c299, #a6c9a6);
	border: none;
	/* font-family: "ABeeZee", sans-serif; */
	font-family: "Open Sans Condensed", sans-serif;
	letter-spacing: 2px;
	font-weight: bolder;
	text-transform: uppercase;
	font-weight: bolder;
}

.subscribe__button__inactive {
	border: 1px solid white;
	/* background-color: black; */
	color: black;
	padding: 10px 20px;
	font-size: 0.8em;
	border-radius: 3px;
	letter-spacing: 2px;
	font-family: "Open Sans Condensed", sans-serif;
	background: linear-gradient(#cc9999, #d3a6a6);
	border: none;
	text-transform: uppercase;
	font-weight: bolder;
}

.subscribe__button__active[disabled] {
	/* background-color: limegreen; */
	color: black;
}

.subscribe__button__inactive[disabled] {
	/* background-color: #a9a9a9; */
	color: white;
}
