.container__screen {
	border: 1px solid lightblue;
	margin-top: 20px;
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	padding-left: 20px;
	padding-right: 20px;
	min-width: 150px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

	/* justify-content: center;
	text-align: center;
	padding: 20px;
	margin: 10px 30px;
	border: 1px solid #8c827c;
	width: 200px;
	height: 100px;
	scrollbar-width: thin;
	padding-bottom: 0;
	border: 2px solid lightblue; */
}

/* Generated code */
.output__box {
	color: floralwhite;
	font-size: 1.5rem;
	letter-spacing: 4px;
	/* padding: 20px; */
	font-family: var(--secondaryFont);
	/* font-weight: bold; */
}

.retrieved__container__screen {
	border: 1px solid lightblue;
	margin-top: 20px;

	min-width: 200px;
	max-width: 400px;
	min-height: 0px;
	max-height: 100px;
	word-wrap: break-word;
	overflow-y: auto;
	scrollbar-width: thin;
}

/* Generated code */
.retrieved__output__box {
	color: floralwhite;
	font-size: 1.5rem;
	letter-spacing: 4px;
	padding: 20px;
	font-family: var(--secondaryFont);
}
