.line__separator {
	/* border: 1px solid greenyellow; */
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #8c827c;
}

.line__on__side {
	border: 1px solid #8c827c;
	width: 200px;
}

@media screen and (max-width: 650px) {
	.line__on__side {
		width: 100%;
	}
}
