.line__separator {
	border: 1px solid greenyellow;
	height: 10%;
	width: 100%;
	/* display: flex;
	justify-content: center;
	align-items: center;
	color: #8c827c; */
	/* margin-top: 60px; */
	/* margin-bottom: 20px; */
	/* flex: 0.25; */
}

.line__on__side {
	border: 1px solid #8c827c;
	width: 200px;
	/* width: 18%; */
	/* margin-left: 10px;
	margin-right: 10px; */
}
