.message {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* min-width: 150px;

	max-width: 350px; */

	/* max-width: 80%; */
	/* margin: 10px 30px; */
}

.error__message {
	/* border: 1px solid #505050; */
	/* background-color: #202020; */
	min-width: 150px;
	max-width: 350px;
	font-family: "Open Sans Condensed";
	letter-spacing: 0.1em;
	/* width: 20%; */
	justify-content: center;
	border-radius: 0.2em;
	/* margin-top: 1.5em; */
}

.success__message {
	/* border: 1px solid #505050;
	background-color: #202020; */

	justify-content: center;
	border-radius: 0.2em;
}
.success__message__content {
	color: lightgreen;

	white-space: nowrap;
	font-size: 20px;
	font-size: 1.2em;
	padding: 20px 20px;

	padding: 0.8em 0.9em;
	background: linear-gradient(#99c299, #a6c9a6);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Open Sans Condensed";
	letter-spacing: 0.1em;
}

.error__message__content {
	color: #a74532;

	/* font-size: 20px; */
	font-size: 1.2em;
	/* padding: 20px 20px; */
	/* padding: 0.8em 0.7em; */

	border: none;

	justify-content: center;
	line-height: 1.8;
}

.message__content {
	border: none;
	white-space: nowrap;
	color: white;
	font-size: 20px;
	/* padding: 20px 20px; */
	font-weight: bold;
}

@media screen and (max-width: 500px) {
	/* .error__message__content {
		font-size: 1em;
		line-height: 1.2;
	} */

	.error__message {
		width: 250px;
	}
}
