.message {
	display: flex;
	justify-content: flex-start;
	min-width: 250px;
	max-width: 350px;
	margin: 10px 30px;
}

.error__message {
	border: 1px solid #505050;
	background-color: #202020;

	/* border: 1px solid #c68c8c;
	background: linear-gradient(#cc9999, #d3a6a6); */

	justify-content: center;
	border-radius: 3px;
}

.success__message {
	border: 1px solid #505050;
	background-color: #202020;

	/* border: 1px solid #66a366; */
	/* background: linear-gradient(#99c299, #a6c9a6); */
	justify-content: center;
	border-radius: 3px;
}
.success__message__content {
	color: lightgreen;

	/* color: #006600;
	font-weight: bold; */
	white-space: nowrap;
	font-size: 20px;
	padding: 20px 20px;
}

.error__message__content {
	color: tomato;

	/* color: #932626; */
	/* font-weight: bold; */
	font-size: 20px;
	padding: 20px 20px;
	border: none;

	justify-content: center;
	line-height: 1.8;
}

.message__content {
	border: none;
	white-space: nowrap;
	color: white;
	font-size: 20px;
	padding: 20px 20px;
	font-weight: bold;
}
