.modal {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 500px;
	border: 1px solid white;
	text-align: center;
	height: 180px;
	display: flex;
	flex-direction: column;
}

.modal__options {
	margin-bottom: 10px;

	justify-content: space-between;
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.modal__options button {
	width: 16%;
}
.modal__message {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}
/* .modal__options {

} */
