.connections__list__display__none {
	display: none;
}

.connections__list {
	border: 1px solid lightblue;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	max-width: 500px;
	/* max-height: 150px;
	overflow-y: scroll; */
	border-radius: 0.3em;
	transition: all 0.4s;
}

.text__input__form form {
	text-align: unset;
}

@media screen and (max-width: 500px) {
	.connections__list {
		min-width: 350px;
	}
}
