.connections__list__display__none {
	display: none;
}

/* .connections__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	max-height: 200px;
	overflow: auto;
	border: 1px solid lightblue;
	padding-top: 20px;
	padding-bottom: 20px;

} */

.connections__list {
	/* border: 4px solid red; */
	border: 1px solid lightblue;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	min-width: none;
	max-width: 400px;
	max-height: 150px;
	overflow-y: scroll;
}

.text__input__form form {
	text-align: unset;
}
