.show__message {
	/* border: 1px solid white; */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 90%;
}

.show__message__content {
	border: 1px solid lightblue;
	border-radius: 0.1em;
	display: flex;
	/* min-width: 350px; */
	/* min-height: 180px; */
	max-width: 500px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3em;
	padding-right: 3em;
	font-family: "Open Sans Condensed";
	letter-spacing: 0.1em;
	font-size: 1.4em;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}
