.text__input__form {
	/* border: 1px solid greenyellow; */
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alternative__text__input__form {
	/* border: 1px solid yellow; */
	width: 80%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.text__input__form > form {
	/* border: 1px solid royalblue; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 90%;
	/* padding: 30px; */
}

label {
	display: block;
	letter-spacing: 0.3em;
	/* padding-top: 30px; */
	text-align: center;
	margin-top: 0px;
	color: white;
}

label .label-text {
	color: #a1a7b5;
	cursor: text;
	font-size: 1em;
	line-height: 20px;
	line-height: 1.2;
	text-transform: uppercase;
	-webkit-transform: translateY(-2em);
	transform: translateY(-2em);
	transition: all 0.3s;
}

label input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #a1a7b5;
	color: white;
	font-size: 20px;
	font-size: 1.1em;
	letter-spacing: 1px;
	letter-spacing: 0.1em;
	outline: 0;
	padding: 10px 20px;
	text-align: center;
	transition: all 0.3s;
	width: 200px;
}

label input:focus {
	max-width: 100%;
	width: 500px;
}
label input:focus + .label-text {
	color: #f0f0f0;
	font-size: 13px;
	margin-top: 10px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);

	-moz-transform: translateY(-5em);
	-ms-transform: translateY(-5em);
	-webkit-transform: translateY(-5em);
	transform: translateY(-5em);
}
/* label input:valid + .label-text {
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);

	-moz-transform: translateY(-5em);
	-ms-transform: translateY(-5em);
	-webkit-transform: translateY(-5em);
	transform: translateY(-5em);
} */

label input:valid + .label-text {
	-moz-transform: translateY(-5em);
	-ms-transform: translateY(-5em);
	-webkit-transform: translateY(-5em);
	transform: translateY(-5em);
}

button:hover,
button:focus {
	background-color: white;
	color: #333333;
}

#input__key__button {
	align-content: center;
}
.text__input__screen__buttons {
	display: flex;
	flex-direction: column;
	gap: 1.1em;
	/* border: 1px solid sandybrown; */
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
}

.form__one__div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: 1em;
}
.alternative__text__input__form > .form__one__div {
	gap: 0;
}
.button__1,
.button__2 {
	background: transparent;
	color: #f0f0f0;
	background-color: #0da5cc;
	/* margin: 10px 30px; */
	/* border-radius: 3px; */
	/* font-size: 17px; */
	/* letter-spacing: 3px; */
	border-radius: 0.2em;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bolder;
	border: none;
	font-size: 1.1em;
	letter-spacing: 0.15em;
	padding: 20px 75px;

	text-transform: uppercase;
	cursor: pointer;
	/* display: inline-block; */
	flex: 1;
	width: 350px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.button__2 {
	background-color: tomato;
}

.button__1[disabled] {
	background-color: lightblue;
	color: #262626;
}
.button__2[disabled] {
	background-color: #ffa190;
	color: #262626;

	/* color: green; */
}
.display-none {
	display: none;
}

@media screen and (max-width: 800px) {
	.button__1,
	.button__2 {
		/* width: 300px; */
		width: 300px;
		padding: 20px 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 0.9em;
	}

	.text__input__form > form {
		width: 100%;
		padding: 0;
		/* align-items: center; */
	}

	label .label-text {
		color: #a1a7b5;
		cursor: text;
		/* font-size: 15px; */
		font-size: 0.7em;
		line-height: 20px;
		line-height: 1.2;
		text-transform: uppercase;
		-moz-transform: translateY(-2em);
		-ms-transform: translateY(-2em);
		-webkit-transform: translateY(-2em);
		transform: translateY(-2em);
		transition: all 0.3s;
	}

	label input:focus {
		max-width: 70%;
		width: 200px;
	}

	label input:focus + .label-text {
		color: #f0f0f0;
		font-size: 13px;
		margin-top: 10px;
		-moz-transform: translateY(-5em);
		-ms-transform: translateY(-5em);
		-webkit-transform: translateY(-5em);
		transform: translateY(-5em);
	}
}
